<div class="overlay-html" [hidden]="!isShowed">
  <div class="tour-container" #modalWindow [ngStyle]="positionStyles" (window:resize)="onResize($event)">
    <div class="modal" fxLayout="column" fxLayoutAlign="space-between start" *ngIf="showedStep">
        <h2> {{ showedStep.title }} </h2>
        <p> {{ showedStep.text }} </p>
        <div class="links"  fxLayout="row" fxLayoutAlign="space-between center">
          <div class="nav-links">
            <a (click)="goBack()" [hidden]="showedStep.step === 1">Back</a>
            <span>{{ showedStep.step }}/{{ stepsCount }}</span>
            <a (click)="goNext()" [hidden]="showedStep.step === stepsCount">Next</a>
          </div>
          <div class="nav-close">
            <a (click)="close()">Close</a>
          </div>    
        </div>
      </div> 
  </div>

  <div class="go-to" fxLayout="column" fxLayoutAlign="space-between start">
    <button class="go-step-1" (click)="goToStep(1)" mat-mini-fab color="warn">1</button>
    <button class="go-step-2" (click)="goToStep(2)" mat-mini-fab color="warn">2</button>
    <button class="go-step-3" (click)="goToStep(3)" mat-mini-fab color="warn">3</button>
    <button class="go-step-4" (click)="goToStep(4)" mat-mini-fab color="warn">4</button>
  </div>

</div>


