<div class="overlay-html" *ngIf="isShowed">
  <div class="tour-container" #modalWindow [ngStyle]="positionStyles" (window:resize)="onResize($event)">
    <div class="modal" fxLayout="column" fxLayoutAlign="space-between start">
        <h2> {{ showedStep.title }} </h2>
        <p> {{ showedStep.text }} </p>
        <div class="links"  fxLayout="row" fxLayoutAlign="space-between center">
          <div class="nav-links">
            <a (click)="goBack()" *ngIf="showedStep.step > 1">Back</a>
            <span>{{ showedStep.step }}/{{ stepsCount }}</span>
            <a (click)="goNext()" *ngIf="showedStep.step < stepsCount">Next</a>
          </div>
          <div class="nav-close">
            <a (click)="close()">Close</a>
          </div>    
        </div>
      </div> 
  </div>
</div>


